body {
    color: black;
}

.transaction {

    margin: 20px;
    border: solid red 2px;

}


.hidden {
    display: none;
}

table {
    width: 100%;
}

body > table  td {
    border-top: red solid 2px;
}
body > table  {
    border-collapse: collapse;
}

.data-table > div {
    width: 300px;
    height: 280px;
    overflow: auto;
    float: left;
}

pre {
}

.filter {
    line-height: 45px;
}

.dump {
    margin-left: 25px;
}

.actions {
    font-weight: bolder;
    font-size: 30px;
    /* width: 50px; */
}

.actions span {
    cursor: pointer;
}

.header > div  {
    border: solid black 1px;
    line-height: 30px;
    text-align: center;
}

.hactions {
    font-size: 10px;
    line-height: 30px;
}

.row { line-height: 35px;}
