%% -*- mode: erlang -*-
{lib_dirs,["deps"]}.

{sub_dirs, ["rel"]}.                            % needed for `rebar generate`

{deps, [
    {'lager' , ".*", {git, "git://github.com/basho/lager.git"  , "master"}},
    {'cowboy', ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {'eredis', ".*", {git, "git@github.com:wooga/eredis.git"   , "master"}},
    {'jiffy' , ".*", {git, "git@github.com:davisp/jiffy.git"   , "master"}},
    {'kvc'   , ".*", {git, "git@github.com:etrepum/kvc.git"    , "master"}}
]}.

{erl_opts,
 [
  {parse_transform, lager_transform}
 ]
}.
