<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Piotr Klibert" />
    <link rel="shortcut icon" href="/favicon.png?v=0.1" />

    <title>ReqViewer</title>

    <script src="/scripts/bundle.js"></script>

    <link rel="stylesheet" href="/styles/flakes.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/node_modules/highlight.js/styles/tomorrow.css" />

  </head>
  <body>
    <!-- Top header, with search and dump button -->
    <header class="header grid-12">
      <div class="header__app-logo span-2">ReqViewer</div>

      <div class="span-8 text-center">
        <label for="session-filter" class="header__filter-label">Filter:</label>
        <input type="text" class="header__filter-input"
               v-model="filterExpr"
               placeholder="Session or method..." />
        <span class="count">(reqs: {{count}})</span>
      </div>

      <div class="header__actions span-2 text-right">
        <a v-attr="href: encodedJsonData"
           class="button-main fade-in-out"
           v-class="disabled: !(selectedRows.length &gt; 0) "
           target="_blank">Dump JSON</a>
      </div>
    </header>

    <section class="main-table">
      <header class="main-table__header grid-12">
        <div class="main-table__header-title span-1">
          <input type="checkbox" v-on="change: toggleAll" />
        </div>
        <div class="main-table__header-title span-2">Session ID</div>
        <div class="main-table__header-title span-1">Method</div>
        <div class="main-table__header-title span-2">URL</div>
        <div class="main-table__header-title span-3">Params</div>
        <div class="main-table__header-title span-1">Status</div>
        <div class="main-table__header-title span-2">Duration</div>
      </header>

      <div v-repeat="filtered" class="main-table__row grid-12 fade-in-out"
           v-transition="fade-in-out"
           v-on="click: toggleBody($data, $el, $event)">

        <div class="main-table__row-item span-1">
          <input type="checkbox" v-model="checked" />
        </div>

        <div class="main-table__row-item--sid-wrap main-table__row-item span-2">
          <span class="sid" v-style="color: colorize(sess)">
            {{sess}}
          </span>
          (IP:&nbsp;{{ip}})
        </div>
        <div class="main-table__row-item span-1">{{method}}</div>
        <div class="main-table__row-item span-2">{{uri}}</div>
        <div class="main-table__row-item span-3 args">
{{args}}
        </div>
        <div class="main-table__row-item span-1">{{resp.status}}</div>
        <div class="main-table__row-item span-2">
          {{formatTime(time_taken)}}ms ({{formatDate(id)}})
        </div>

        <div v-if="show_body"
             class="data-table span-12 grid-2 slide-in-out"
             v-transition="slide-in-out">
          <div class="data-table__col req span-1">
            <h3>{{formatReq($data)}}</h3>
            <h3>Request headers</h3>
            <pre><code class="json" v-html="req.pretty_header"></code></pre>
            <hr/>
            <h3>Request body</h3>
            <pre><code class="json" v-html="req.pretty_body"></code></pre>
          </div>

          <div class="data-table__col resp span-1">
            <h3>Response headers</h3>
            <pre><code class="json" v-html="resp.pretty_header"></code></pre>
            <h3>Response body</h3>
            <pre><code class="json" v-html="resp.pretty_body"></code></pre>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
