$module: 'main-table';

.#{$module} {
	padding: $main-container-padding;
	width: 100%;
}

.#{$module}__header {
	background-color: $navy;
	color: $very-light-gray;
	display: table;
}

.#{$module}__header-title {
	border-right: 1px solid $table-border-color;
	display: table-cell;
	padding: $table-item-padding;
	text-align: center;

	&:last-child {
		border-right: 0;
	}
}

.#{$module}__row {
	border: 1px solid $table-border-color;
	border-top: 0;
	cursor: pointer;
	display: table;

	&:nth-child(odd) {
		background-color: $very-light-gray;
	}
}

.#{$module}__row-item {
	@extend .#{$module}__header-title;

	display: table-cell;
}

.#{$module}__row-item--sid-wrap {
	@extend .#{$module}__header-title;

	font-family: $font-monospace;
  font-size: 110%;

  .sid {
  	text-transform: uppercase;
  }
}