input[type="text"] {
	border: 1px solid $gray;
	-moz-border-radius: $controls-border-radius;
  -webkit-border-radius: $controls-border-radius;
  border-radius: $controls-border-radius;
  -moz-box-shadow: inset -1px -1px 3px lighten($gray, 20%);
  -webkit-box-shadow: inset -1px -1px 3px lighten($gray, 20%);
  box-shadow: inset -1px -1px 3px lighten($gray, 20%);
  padding: $input-padding;
  transition: border-color .5s;

  &:focus {
  	outline: none;
  	border-color: darken($gray, 18%);
  }
}