.text-center,
%text-center {
	text-align: center;
}

.text-right,
%text-right {
	text-align: right;
}

.display-table,
%display-table {
	display: table;
}

.table-cell,
%table-cell {
	display: table-cell;
}

.inline-block,
%inline-block {
	display: inline-block;
}