// ==============================================================================
// Typography
// ==============================================================================

$font-regular: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ==============================================================================
// Colors
// ==============================================================================

$light-black: #222;

$body-color: $light-black;